<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ydl.system.mapper.NmisScheUsersMapper">

    <resultMap type="NmisScheUsers" id="NmisScheUsersResult">
        <result property="id"    column="id"    />
        <result property="deptCode"    column="dept_code"    />
        <result property="userId"    column="user_id"    />
        <result property="seqNo"    column="seq_no"    />
    </resultMap>

    <sql id="selectNmisScheUsersVo">
        select id, dept_code, user_id, seq_no from nmis.nmis_sche_users
    </sql>

    <select id="selectNmisScheUsersList" parameterType="NmisScheUsers" resultMap="NmisScheUsersResult">
        <include refid="selectNmisScheUsersVo"/>
        <where>
            <if test="deptCode != null  and deptCode != ''"> and dept_code = #{deptCode}</if>
            <if test="userId != null  and userId != ''"> and user_id = #{userId}</if>
            <if test="seqNo != null "> and seq_no = #{seqNo}</if>
        </where>
    </select>

    <select id="selectNmisScheUsersById" parameterType="String" resultMap="NmisScheUsersResult">
        <include refid="selectNmisScheUsersVo"/>
        where id = #{id}
    </select>

    <insert id="insertNmisScheUsers" parameterType="NmisScheUsers" useGeneratedKeys="true" keyProperty="id">
        insert into nmis.nmis_sche_users
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="deptCode != null">dept_code,</if>
            <if test="userId != null">user_id,</if>
            <if test="seqNo != null">seq_no,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="deptCode != null">#{deptCode},</if>
            <if test="userId != null">#{userId},</if>
            <if test="seqNo != null">#{seqNo},</if>
        </trim>
    </insert>

    <update id="updateNmisScheUsers" parameterType="NmisScheUsers">
        update nmis.nmis_sche_users
        <trim prefix="SET" suffixOverrides=",">
            <if test="deptCode != null">dept_code = #{deptCode},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="seqNo != null">seq_no = #{seqNo},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteNmisScheUsersById" parameterType="String">
        delete from nmis.nmis_sche_users where id = #{id}
    </delete>

    <delete id="deleteNmisScheUsersByIds" parameterType="String">
        delete from nmis.nmis_sche_users where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>