<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ydl.nmis.schedule.mapper.NmisScheGroupUserMapper">

    <resultMap type="NmisScheGroupUser" id="NmisScheGroupUserResult">
        <result property="id"    column="id"    />
        <result property="groupId"    column="group_id"    />
        <result property="userId"    column="user_id"    />
        <result property="userName"    column="name"    />
        <result property="groupName"    column="group_name"    />
    </resultMap>

    <resultMap type="DeptScheGroupUser" id="DeptScheGroupUserResult">
        <result property="groupId"    column="group_id"    />
        <result property="groupName"    column="group_name"    />
        <result property="nurseId"    column="nurse_id"    />
        <result property="nurseName"    column="nurse_name"    />
        <result property="deptId"  column="dept_id" />
        <result property="deptName" column="dept_name" />
        <result property="nurseLevel" column="nurse_level" />
        <result property="enterDate" column="enter_date" />
    </resultMap>

    <sql id="selectNmisScheGroupUserVp">
        select a.id,a.group_id, c.group_name,a.user_id,b.name from nmis.nmis_sche_group_user a
            left join nmis.nmis_hr_user b
                on a.user_id = b.nurse_id
            left join nmis.nmis_sche_user_group c
                on a.group_id = c.id
    </sql>
    <sql id="selectNmisScheGroupUserVo">
        select a.id,a.group_id,a.user_id from nmis.nmis_sche_group_user a
    </sql>

    <select id="selectNmisScheGroupUserList" parameterType="NmisScheGroupUser" resultMap="NmisScheGroupUserResult">
        <include refid="selectNmisScheGroupUserVp"/>
        <where>
            <if test="id != null">and a.id=#{id}</if>
            <if test="groupId != null">and a.group_id=#{groupId}</if>
            <if test="userId != null  and userId != ''"> and a.user_id = #{userId}</if>
            <if test="userName != null  and userName != ''"> and b.name = #{userName}</if>
            <if test="groupName != null  and groupName != ''"> and c.group_name = #{groupName}</if>

        </where>
    </select>

    <select id="selectDeptScheGroupUserList" parameterType="String" resultMap="DeptScheGroupUserResult">
        select a.id group_id,
               a.group_name,
               a.dept_id,
               a.dept_name,
               c.nurse_id,
               c.name nurse_name,
               c.nurse_level,
               substr(to_char(c.enter_date,'YYYY-MM-dd'),1,4) enter_date
        from nmis.nmis_sche_user_group a
                 inner join nmis.nmis_sche_group_user b
                            on a.id = b.group_id
                 inner join nmis.nmis_hr_user c
                            on b.user_id = c.nurse_id
        where a.dept_id = #{deptId}
        order by a.seq_no, b.user_id
    </select>
    <select id="selectNmisScheGroupUserById" parameterType="String" resultMap="NmisScheGroupUserResult">
        <include refid="selectNmisScheGroupUserVo"/>
        where id = #{id}
    </select>

    <insert id="insertNmisScheGroupUser" parameterType="NmisScheGroupUser" useGeneratedKeys="true" keyProperty="id">
        <selectKey keyProperty="id" order="BEFORE" resultType="String">
            select  nmis.seq_sche_group_user.nextval as id from dual
        </selectKey>
            insert into nmis.nmis_sche_group_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="groupId != null">group_id,</if>
            <if test="userId != null">user_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="groupId != null">#{groupId},</if>
            <if test="userId != null">#{userId},</if>
        </trim>
    </insert>

    <update id="updateNmisScheGroupUser" parameterType="NmisScheGroupUser">
        update nmis.nmis_sche_group_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteNmisScheGroupUserById" parameterType="String">
        delete from nmis.nmis_sche_group_user where id = #{id}
    </delete>

    <delete id="deleteNmisScheGroupUserByIds" parameterType="String">
        delete from nmis.nmis_sche_group_user where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>