<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ydl.qc.mapper.NmisQcChkPaperItemDetailMapper">
    
    <resultMap type="NmisQcChkPaperItemDetail" id="NmisQcChkPaperItemDetailResult">
        <result property="id"    column="id"    />
        <result property="stdItemId"    column="std_item_id"    />
        <result property="stdItemName"    column="std_item_name"    />
        <result property="detailItemId"    column="detail_item_id"    />
        <result property="detailItemName"    column="detail_item_name"    />
        <result property="score"    column="score"    />
        <result property="descoreReason"    column="descore_reason"    />
        <result property="checkFlag"    column="check_flag"    />
        <result property="remark"    column="remark"    />
        <result property="stdId"    column="std_id"    />
        <result property="paperId"    column="paper_id"    />
        <result property="createId"    column="create_id"    />
        <result property="creator"    column="creator"    />
        <result property="createDate"    column="create_date"    />
        <result property="modifyId"    column="modify_id"    />
        <result property="modifier"    column="modifier"    />
        <result property="modifyDate"    column="modify_date"    />
        <result property="unitCode"    column="unit_code"    />
    </resultMap>

    <sql id="selectNmisQcChkPaperItemDetailVo">
        select id, std_item_id, std_item_name, detail_item_id, detail_item_name, score, descore_reason, check_flag, remark, std_id, paper_id, create_id, creator, create_date, modify_id, modifier, modify_date, unit_code from nmis.nmis_qc_chk_paper_item_detail
    </sql>

    <select id="selectNmisQcChkPaperItemDetailList" parameterType="NmisQcChkPaperItemDetail" resultMap="NmisQcChkPaperItemDetailResult">
        <include refid="selectNmisQcChkPaperItemDetailVo"/>
        <where>  
            <if test="stdItemId != null  and stdItemId != ''"> and std_item_id = #{stdItemId}</if>
            <if test="stdItemName != null  and stdItemName != ''"> and std_item_name like concat('%', #{stdItemName}, '%')</if>
            <if test="detailItemId != null  and detailItemId != ''"> and detail_item_id = #{detailItemId}</if>
            <if test="detailItemName != null  and detailItemName != ''"> and detail_item_name like concat('%', #{detailItemName}, '%')</if>
            <if test="score != null "> and score = #{score}</if>
            <if test="descoreReason != null  and descoreReason != ''"> and descore_reason = #{descoreReason}</if>
            <if test="checkFlag != null  and checkFlag != ''"> and check_flag = #{checkFlag}</if>
            <if test="stdId != null  and stdId != ''"> and std_id = #{stdId}</if>
            <if test="paperId != null  and paperId != ''"> and paper_id = #{paperId}</if>
            <if test="createId != null  and createId != ''"> and create_id = #{createId}</if>
            <if test="creator != null  and creator != ''"> and creator = #{creator}</if>
            <if test="createDate != null "> and create_date = #{createDate}</if>
            <if test="modifyId != null  and modifyId != ''"> and modify_id = #{modifyId}</if>
            <if test="modifier != null  and modifier != ''"> and modifier = #{modifier}</if>
            <if test="modifyDate != null "> and modify_date = #{modifyDate}</if>
            <if test="unitCode != null  and unitCode != ''"> and unit_code = #{unitCode}</if>
        </where>
    </select>
    
    <select id="selectNmisQcChkPaperItemDetailById" parameterType="String" resultMap="NmisQcChkPaperItemDetailResult">
        <include refid="selectNmisQcChkPaperItemDetailVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertNmisQcChkPaperItemDetail" parameterType="NmisQcChkPaperItemDetail" useGeneratedKeys="true" keyProperty="id">
        <selectKey keyProperty="id" order="BEFORE" resultType="String">
            select nmis.nmis_seq_qc_paper_itemd.nextval as id from dual
        </selectKey>
        insert into nmis.nmis_qc_chk_paper_item_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="stdItemId != null">std_item_id,</if>
            <if test="stdItemName != null">std_item_name,</if>
            <if test="detailItemId != null">detail_item_id,</if>
            <if test="detailItemName != null">detail_item_name,</if>
            <if test="score != null">score,</if>
            <if test="descoreReason != null">descore_reason,</if>
            <if test="checkFlag != null">check_flag,</if>
            <if test="remark != null">remark,</if>
            <if test="stdId != null">std_id,</if>
            <if test="paperId != null">paper_id,</if>
            <if test="createId != null">create_id,</if>
            <if test="creator != null">creator,</if>
            create_date,
            <if test="modifyId != null">modify_id,</if>
            <if test="modifier != null">modifier,</if>
            <if test="modifyDate != null">modify_date,</if>
            <if test="unitCode != null">unit_code,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="stdItemId != null">#{stdItemId},</if>
            <if test="stdItemName != null">#{stdItemName},</if>
            <if test="detailItemId != null">#{detailItemId},</if>
            <if test="detailItemName != null">#{detailItemName},</if>
            <if test="score != null">#{score},</if>
            <if test="descoreReason != null">#{descoreReason},</if>
            <if test="checkFlag != null">#{checkFlag},</if>
            <if test="remark != null">#{remark},</if>
            <if test="stdId != null">#{stdId},</if>
            <if test="paperId != null">#{paperId},</if>
            <if test="createId != null">#{createId},</if>
            <if test="creator != null">#{creator},</if>
            sysdate,
            <if test="modifyId != null">#{modifyId},</if>
            <if test="modifier != null">#{modifier},</if>
            <if test="modifyDate != null">#{modifyDate},</if>
            <if test="unitCode != null">#{unitCode},</if>
         </trim>
    </insert>

    <update id="updateNmisQcChkPaperItemDetail" parameterType="NmisQcChkPaperItemDetail">
        update nmis.nmis_qc_chk_paper_item_detail
        <trim prefix="SET" suffixOverrides=",">
            <if test="stdItemId != null">std_item_id = #{stdItemId},</if>
            <if test="stdItemName != null">std_item_name = #{stdItemName},</if>
            <if test="detailItemId != null">detail_item_id = #{detailItemId},</if>
            <if test="detailItemName != null">detail_item_name = #{detailItemName},</if>
            <if test="score != null">score = #{score},</if>
            <if test="descoreReason != null">descore_reason = #{descoreReason},</if>
            <if test="checkFlag != null">check_flag = #{checkFlag},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="stdId != null">std_id = #{stdId},</if>
            <if test="paperId != null">paper_id = #{paperId},</if>
            <if test="createId != null">create_id = #{createId},</if>
            <if test="creator != null">creator = #{creator},</if>
            <if test="modifyId != null">modify_id = #{modifyId},</if>
            <if test="modifier != null">modifier = #{modifier},</if>
            modify_date = sysdate,
            <if test="unitCode != null">unit_code = #{unitCode},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteNmisQcChkPaperItemDetailById" parameterType="String">
        delete from nmis.nmis_qc_chk_paper_item_detail where id = #{id}
    </delete>

    <delete id="deleteNmisQcChkPaperItemDetailByIds" parameterType="String">
        delete from nmis.nmis_qc_chk_paper_item_detail where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>