<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ydl.qc.mapper.NmisQcChkAnalyzeMapper">
    
    <resultMap type="NmisQcChkAnalyze" id="NmisQcChkAnalyzeResult">
        <result property="id"    column="id"    />
        <result property="wardCode"    column="ward_code"    />
        <result property="wardName"    column="ward_name"    />
        <result property="stdItemId"    column="std_item_id"    />
        <result property="stdItemName"    column="std_item_name"    />
        <result property="detailItemId"    column="detail_item_id"    />
        <result property="detailItemName"    column="detail_item_name"    />
        <result property="defaultScore"    column="default_score"    />
        <result property="score"    column="score"    />
        <result property="problem"    column="problem"    />
        <result property="reason"    column="reason"    />
        <result property="measure"    column="measure"    />
        <result property="effect"    column="effect"    />
        <result property="analyzeDate"    column="analyze_date"    />
        <result property="status"    column="status"    />
        <result property="checkDetailId"    column="check_detail_id"    />
        <result property="createId"    column="create_id"    />
        <result property="creator"    column="creator"    />
        <result property="createDate"    column="create_date"    />
        <result property="modifyId"    column="modify_id"    />
        <result property="modifier"    column="modifier"    />
        <result property="modifyDate"    column="modify_date"    />
        <result property="unitCode"    column="unit_code"    />
    </resultMap>

    <sql id="selectNmisQcChkAnalyzeVo">
        select id, ward_code, ward_name, std_item_id, std_item_name, detail_item_id, detail_item_name, default_score, score, problem, reason, measure, effect, analyze_date, status, check_detail_id, create_id, creator, create_date, modify_id, modifier, modify_date, unit_code from nmis.nmis_qc_chk_analyze
    </sql>

    <select id="selectNmisQcChkAnalyzeList" parameterType="NmisQcChkAnalyze" resultMap="NmisQcChkAnalyzeResult">
        <include refid="selectNmisQcChkAnalyzeVo"/>
        <where>  
            <if test="wardCode != null  and wardCode != ''"> and ward_code = #{wardCode}</if>
            <if test="wardName != null  and wardName != ''"> and ward_name like concat('%', #{wardName}, '%')</if>
            <if test="stdItemId != null  and stdItemId != ''"> and std_item_id = #{stdItemId}</if>
            <if test="stdItemName != null  and stdItemName != ''"> and std_item_name like concat('%', #{stdItemName}, '%')</if>
            <if test="detailItemId != null  and detailItemId != ''"> and detail_item_id = #{detailItemId}</if>
            <if test="detailItemName != null  and detailItemName != ''"> and detail_item_name like concat('%', #{detailItemName}, '%')</if>
            <if test="defaultScore != null "> and default_score = #{defaultScore}</if>
            <if test="score != null "> and score = #{score}</if>
            <if test="problem != null  and problem != ''"> and problem = #{problem}</if>
            <if test="reason != null  and reason != ''"> and reason = #{reason}</if>
            <if test="measure != null  and measure != ''"> and measure = #{measure}</if>
            <if test="effect != null  and effect != ''"> and effect = #{effect}</if>
            <if test="analyzeDate != null "> and analyze_date = #{analyzeDate}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="checkDetailId != null  and checkDetailId != ''"> and check_detail_id = #{checkDetailId}</if>
            <if test="createId != null  and createId != ''"> and create_id = #{createId}</if>
            <if test="creator != null  and creator != ''"> and creator = #{creator}</if>
            <if test="createDate != null "> and create_date = #{createDate}</if>
            <if test="modifyId != null  and modifyId != ''"> and modify_id = #{modifyId}</if>
            <if test="modifier != null  and modifier != ''"> and modifier = #{modifier}</if>
            <if test="modifyDate != null "> and modify_date = #{modifyDate}</if>
            <if test="unitCode != null  and unitCode != ''"> and unit_code = #{unitCode}</if>
        </where>
    </select>
    
    <select id="selectNmisQcChkAnalyzeById" parameterType="String" resultMap="NmisQcChkAnalyzeResult">
        <include refid="selectNmisQcChkAnalyzeVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertNmisQcChkAnalyze" parameterType="NmisQcChkAnalyze" useGeneratedKeys="true" keyProperty="id">
        <selectKey keyProperty="id" order="BEFORE" resultType="String">
            select nmis.nmis_seq_qc_chk_anlyze.nextval as id from dual
        </selectKey>
        insert into nmis.nmis_qc_chk_analyze
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="wardCode != null">ward_code,</if>
            <if test="wardName != null">ward_name,</if>
            <if test="stdItemId != null">std_item_id,</if>
            <if test="stdItemName != null">std_item_name,</if>
            <if test="detailItemId != null">detail_item_id,</if>
            <if test="detailItemName != null">detail_item_name,</if>
            <if test="defaultScore != null">default_score,</if>
            <if test="score != null">score,</if>
            <if test="problem != null">problem,</if>
            <if test="reason != null">reason,</if>
            <if test="measure != null">measure,</if>
            <if test="effect != null">effect,</if>
            <if test="analyzeDate != null">analyze_date,</if>
            <if test="status != null">status,</if>
            <if test="checkDetailId != null">check_detail_id,</if>
            <if test="createId != null">create_id,</if>
            <if test="creator != null">creator,</if>
            create_date,
            <if test="modifyId != null">modify_id,</if>
            <if test="modifier != null">modifier,</if>
            <if test="modifyDate != null">modify_date,</if>
            <if test="unitCode != null">unit_code,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="wardCode != null">#{wardCode},</if>
            <if test="wardName != null">#{wardName},</if>
            <if test="stdItemId != null">#{stdItemId},</if>
            <if test="stdItemName != null">#{stdItemName},</if>
            <if test="detailItemId != null">#{detailItemId},</if>
            <if test="detailItemName != null">#{detailItemName},</if>
            <if test="defaultScore != null">#{defaultScore},</if>
            <if test="score != null">#{score},</if>
            <if test="problem != null">#{problem},</if>
            <if test="reason != null">#{reason},</if>
            <if test="measure != null">#{measure},</if>
            <if test="effect != null">#{effect},</if>
            <if test="analyzeDate != null">#{analyzeDate},</if>
            <if test="status != null">#{status},</if>
            <if test="checkDetailId != null">#{checkDetailId},</if>
            <if test="createId != null">#{createId},</if>
            <if test="creator != null">#{creator},</if>
            sysdate,
            <if test="modifyId != null">#{modifyId},</if>
            <if test="modifier != null">#{modifier},</if>
            <if test="modifyDate != null">#{modifyDate},</if>
            <if test="unitCode != null">#{unitCode},</if>
         </trim>
    </insert>

    <update id="updateNmisQcChkAnalyze" parameterType="NmisQcChkAnalyze">
        update nmis.nmis_qc_chk_analyze
        <trim prefix="SET" suffixOverrides=",">
            <if test="wardCode != null">ward_code = #{wardCode},</if>
            <if test="wardName != null">ward_name = #{wardName},</if>
            <if test="stdItemId != null">std_item_id = #{stdItemId},</if>
            <if test="stdItemName != null">std_item_name = #{stdItemName},</if>
            <if test="detailItemId != null">detail_item_id = #{detailItemId},</if>
            <if test="detailItemName != null">detail_item_name = #{detailItemName},</if>
            <if test="defaultScore != null">default_score = #{defaultScore},</if>
            <if test="score != null">score = #{score},</if>
            <if test="problem != null">problem = #{problem},</if>
            <if test="reason != null">reason = #{reason},</if>
            <if test="measure != null">measure = #{measure},</if>
            <if test="effect != null">effect = #{effect},</if>
            <if test="analyzeDate != null">analyze_date = #{analyzeDate},</if>
            <if test="status != null">status = #{status},</if>
            <if test="checkDetailId != null">check_detail_id = #{checkDetailId},</if>
            <if test="createId != null">create_id = #{createId},</if>
            <if test="creator != null">creator = #{creator},</if>
            <if test="modifyId != null">modify_id = #{modifyId},</if>
            <if test="modifier != null">modifier = #{modifier},</if>
            modify_date = sysdate,
            <if test="unitCode != null">unit_code = #{unitCode},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteNmisQcChkAnalyzeById" parameterType="String">
        delete from nmis.nmis_qc_chk_analyze where id = #{id}
    </delete>

    <delete id="deleteNmisQcChkAnalyzeByIds" parameterType="String">
        delete from nmis.nmis_qc_chk_analyze where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>