<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ydl.nmis.hr.mapper.NmisHrClothesMapper">

    <resultMap type="NmisHrCoat" id="NmisHrCoatResult">
        <result property="deptName"    column="dept_name"    />
        <result property="deptId"    column="dept_id"    />
        <result property="sizeXs"    column="XS"    />
        <result property="sizeS"    column="S"    />
        <result property="sizeM"    column="M"    />
        <result property="sizeL"    column="L"    />
        <result property="sizeXl"    column="XL"    />
        <result property="size2Xl"    column="XXL"    />
        <result property="size3Xl"    column="XXXL"    />
        <result property="size4Xl"    column="XXXXL"    />
    </resultMap>

    <resultMap type="NmisHrTrouser" id="NmisHrTrouserResult">
        <result property="deptName"    column="dept_name"    />
        <result property="deptId"    column="dept_id"    />
        <result property="sizeXs"    column="XS"    />
        <result property="sizeS"    column="S"    />
        <result property="sizeM"    column="M"    />
        <result property="sizeL"    column="L"    />
        <result property="sizeXl"    column="XL"    />
        <result property="size2Xl"    column="XXL"    />
        <result property="size3Xl"    column="XXXL"    />
        <result property="size4Xl"    column="XXXXL"    />
    </resultMap>

    <resultMap type="NmisHrShoe" id="NmisHrShoeResult">
        <result property="deptName"    column="dept_name"    />
        <result property="deptId"    column="dept_id"    />
        <result property="smallSize35"    column="smallSize35"    />
        <result property="size35"    column="size35"    />
        <result property="size36"    column="size36"    />
        <result property="size37"    column="size37"    />
        <result property="size38"    column="size38"    />
        <result property="size39"    column="size39"    />
        <result property="size40"    column="size40"    />
        <result property="size41"    column="size41"    />
        <result property="size42"    column="size42"    />
        <result property="size43"    column="size43"    />
        <result property="size44"    column="size44"    />
        <result property="size45"    column="size45"    />
        <result property="bigSize45"    column="bigSize45"    />
    </resultMap>

    <resultMap type="NmisHrBedRate" id="NmisHrBedRateResult">
        <result property="deptName"    column="dept_name"    />
        <result property="deptId"    column="dept_id"    />
        <result property="bedNum"    column="bed_num"    />
        <result property="nurseNum"    column="nurse_num"    />
        <result property="allBedNum"    column="all_bed"    />
        <result property="allNurseNum"    column="all_nurse"    />
        <result property="recordDate"    column="record_date"    />
    </resultMap>

    <sql id="selectNmisHrCoatVp">
        select b.dept_name,a.dept_id,
               sum(case coat_size when 'XS' then 1 else 0 end ) as  XS,
               sum(case coat_size when 'S' then 1 else 0 end ) as  S,
               sum(case coat_size when 'M' then 1 else 0 end ) as  M,
               sum(case coat_size when 'L' then 1 else 0 end ) as  L,
               sum(case coat_size when 'XL' then 1 else 0 end ) as  XL,
               sum(case coat_size when 'XXL' then 1 else 0 end ) as  XXL,
               sum(case coat_size when 'XXXL' then 1 else 0 end ) as  XXXL,
               sum(case coat_size when 'XXXXL' then 1 else 0 end ) as  XXXXL
        from nmis.nmis_hr_user a left join nmis.nmis_dept_dict b on a.dept_id = b.dept_id
    </sql>


    <sql id="selectNmisHrTrouserVp">
        select b.dept_name,a.dept_id,
               sum(case trouser_size when 'XS' then 1 else 0 end ) as  XS,
               sum(case trouser_size when 'S' then 1 else 0 end ) as  S,
               sum(case trouser_size when 'M' then 1 else 0 end ) as  M,
               sum(case trouser_size when 'L' then 1 else 0 end ) as  L,
               sum(case trouser_size when 'XL' then 1 else 0 end ) as  XL,
               sum(case trouser_size when 'XXL' then 1 else 0 end ) as  XXL,
               sum(case trouser_size when 'XXXL' then 1 else 0 end ) as  XXXL,
               sum(case trouser_size when 'XXXXL' then 1 else 0 end ) as  XXXXL
        from nmis.nmis_hr_user a left join nmis.nmis_dept_dict b on a.dept_id = b.dept_id
    </sql>

    <sql id="selectNmisHrShoeVp">
        select b.dept_name,a.dept_id,
               sum(case when to_number(shoe_size) &lt; 35 then 1 else 0 end ) as  smallSize35,
               sum(case shoe_size when '35' then 1 else 0 end ) as  size35,
               sum(case shoe_size when '36' then 1 else 0 end ) as  size36,
               sum(case shoe_size when '37' then 1 else 0 end ) as  size37,
               sum(case shoe_size when '38' then 1 else 0 end ) as  size38,
               sum(case shoe_size when '39' then 1 else 0 end ) as  size39,
               sum(case shoe_size when '40' then 1 else 0 end ) as  size40,
               sum(case shoe_size when '41' then 1 else 0 end ) as  size41,
               sum(case shoe_size when '42' then 1 else 0 end ) as  size42,
               sum(case shoe_size when '43' then 1 else 0 end ) as  size43,
               sum(case when to_number(shoe_size) &gt; 43 then 1 else 0 end ) as  bigSize43
        from nmis.nmis_hr_user a left join nmis.nmis_dept_dict b on a.dept_id = b.dept_id
    </sql>

    <sql id="selectNmisHrBedRateVp">
        select * from nmis.nmis_bed_rate
    </sql>

    <sql id="selectNmisHrUserVo">
        select id, nurse_id, name, sex, date_of_birth, title, date_of_title, duty, date_of_duty, date_of_work, date_of_hire, political_feature, native_place, marital_status, home_address, zip_code, phone_number, next_of_kin, next_of_kin_phone, next_of_kin_addr, cert_type, cert_no, nation, email, body_weight, body_height, picture, nurse_age, register_no, register_date, register_attach, nurse_level, nurse_level_date, enter_date, level_date, leave_reason, specialty, english_level, dept_id, default_dept_id, coat_size, trouser_size, shoe_size, teach_type_id, teach_type_name, post_id, post_name, staff_type_id, staff_type_name, input_code, serial_no, status, del_flag, revision, create_id, creator, create_date, modify_id, modifier, modify_date, unit_code from nmis.nmis_hr_user
        where del_flag = 0
    </sql>



    <select id="selectNmisHrCoat" parameterType="NmisHrCoat" resultMap="NmisHrCoatResult">
        <include refid="selectNmisHrCoatVp"/>
        <where>
            <if test="deptId != null ">a.dept_id = #{deptId}</if>
            <if test="deptName != null  and deptName != ''"> and b.dept_name like CONCAT(concat('%', #{deptName}), '%')</if>
            <!--and del_flag = 0-->
        </where>
        group by  b.dept_name,a.dept_id
    </select>


    <select id="selectNmisHrTrouser" parameterType="NmisHrTrouser" resultMap="NmisHrTrouserResult">
        <include refid="selectNmisHrTrouserVp"/>
        <where>
            <if test="deptId != null ">a.dept_id = #{deptId}</if>
            <if test="deptName != null  and deptName != ''"> and b.dept_name like CONCAT(concat('%', #{deptName}), '%')</if>
            <!--and del_flag = 0-->
        </where>
        group by  b.dept_name,a.dept_id
    </select>

    <select id="selectNmisHrShoe" parameterType="NmisHrShoe" resultMap="NmisHrShoeResult">
        <include refid="selectNmisHrShoeVp"/>
        <where>
            <if test="deptId != null ">a.dept_id = #{deptId}</if>
            <if test="deptName != null  and deptName != ''"> and b.dept_name like CONCAT(concat('%', #{deptName}), '%')</if>
            <!--and del_flag = 0-->
        </where>
        group by  b.dept_name,a.dept_id
    </select>

    <select id="selectNmisHrBedRate" parameterType="NmisHrBedRate" resultMap="NmisHrBedRateResult">
        <include refid="selectNmisHrBedRateVp"/>
        <where>
            <if test="deptId != null ">dept_id = #{deptId}</if>
            <if test="deptName != null  and deptName != ''"> and dept_name like CONCAT(concat('%', #{deptName}), '%')</if>
            <if test="startDate != null  and startDate != '' and endDate != null  and endDate != ''"> and record_date between to_date(#{startDate} ,'yyyy-MM-dd') and to_date(#{endDate} ,'yyyy-MM-dd') </if>
            <!--and del_flag = 0-->
        </where>
    </select>

</mapper>