<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ydl.nmis.base.mapper.NmisDeptDictMapper">


    <resultMap type="NmisDeptDict" id="NmisDeptDictResult">
        <result property="id"    column="id"    />
        <result property="deptId"    column="dept_id"    />
        <result property="deptName"    column="dept_name"    />
        <result property="approvedBedNum"    column="approved_bed_num"    />
        <result property="actualBedNum"    column="actual_bed_num"    />
        <result property="nurseNum"    column="nurse_num"    />
        <result property="inputCode"    column="input_code"    />
        <result property="serialNo"    column="serial_no"    />
        <result property="revision"    column="revision"    />
        <result property="createId"    column="create_id"    />
        <result property="creator"    column="creator"    />
        <result property="createDate"    column="create_date"    />
        <result property="modifyId"    column="modify_id"    />
        <result property="modifier"    column="modifier"    />
        <result property="modifyDate"    column="modify_date"    />
        <result property="unitCode"    column="unit_code"    />
    </resultMap>

    <sql id="selectNmisDeptDictVo">
        select id, dept_id, dept_name, approved_bed_num, actual_bed_num, nurse_num, input_code, serial_no, revision, create_id, creator, create_date, modify_id, modifier, modify_date, unit_code from nmis.nmis_dept_dict
    </sql>



    <select id="selectNmisDeptDictList" parameterType="NmisDeptDict" resultMap="NmisDeptDictResult">
        <include refid="selectNmisDeptDictVo"/>
        <where>
            <if test="deptId != null  and deptId != ''"> and dept_id = #{deptId}</if>
            <if test="deptName != null  and deptName != ''"> and dept_name like CONCAT(concat('%', #{deptName}), '%')</if>
            <if test="approvedBedNum != null "> and approved_bed_num = #{approvedBedNum}</if>
            <if test="actualBedNum != null "> and actual_bed_num = #{actualBedNum}</if>
            <if test="nurseNum != null "> and nurse_num = #{nurseNum}</if>
            <if test="inputCode != null  and inputCode != ''"> and input_code = #{inputCode}</if>
            <if test="serialNo != null "> and serial_no = #{serialNo}</if>
            <if test="revision != null "> and revision = #{revision}</if>
            <if test="createId != null  and createId != ''"> and create_id = #{createId}</if>
            <if test="creator != null  and creator != ''"> and creator = #{creator}</if>
            <if test="createDate != null "> and create_date = #{createDate}</if>
            <if test="modifyId != null  and modifyId != ''"> and modify_id = #{modifyId}</if>
            <if test="modifier != null  and modifier != ''"> and modifier = #{modifier}</if>
            <if test="modifyDate != null "> and modify_date = #{modifyDate}</if>
            <if test="unitCode != null  and unitCode != ''"> and unit_code = #{unitCode}</if>
        </where>
    </select>

    <select id="selectNmisDeptDictById" parameterType="Long" resultMap="NmisDeptDictResult">
        <include refid="selectNmisDeptDictVo"/>
        where id = #{id}
    </select>
    <select id="selectNmisDeptDictByCode" parameterType="String" resultMap="NmisDeptDictResult">
        <include refid="selectNmisDeptDictVo"/>
        where dept_id = #{deptCode}
    </select>

    <insert id="insertNmisDeptDict" parameterType="NmisDeptDict" useGeneratedKeys="true" keyProperty="id">
        <selectKey keyProperty="id" order="BEFORE" resultType="Long">
            select nmis.seq_dept_dict.nextval as id from DUAL
        </selectKey>
        insert into nmis.nmis_dept_dict
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="deptId != null">dept_id,</if>
            <if test="deptName != null">dept_name,</if>
            <if test="approvedBedNum != null">approved_bed_num,</if>
            <if test="actualBedNum != null">actual_bed_num,</if>
            <if test="nurseNum != null">nurse_num,</if>
            <if test="inputCode != null">input_code,</if>
            <if test="serialNo != null">serial_no,</if>
            <if test="revision != null">revision,</if>
            <if test="createId != null">create_id,</if>
            <if test="creator != null">creator,</if>
            create_date,
            <if test="modifyId != null">modify_id,</if>
            <if test="modifier != null">modifier,</if>
            modify_date,
            <if test="unitCode != null">unit_code,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="deptId != null">#{deptId},</if>
            <if test="deptName != null">#{deptName},</if>
            <if test="approvedBedNum != null">#{approvedBedNum},</if>
            <if test="actualBedNum != null">#{actualBedNum},</if>
            <if test="nurseNum != null">#{nurseNum},</if>
            <if test="inputCode != null">#{inputCode},</if>
            <if test="serialNo != null">#{serialNo},</if>
            <if test="revision != null">#{revision},</if>
            <if test="createId != null">#{createId},</if>
            <if test="creator != null">#{creator},</if>
            sysdate,
            <if test="modifyId != null">#{modifyId},</if>
            <if test="modifier != null">#{modifier},</if>
            sysdate,
            <if test="unitCode != null">#{unitCode},</if>
        </trim>
    </insert>

    <update id="updateNmisDeptDict" parameterType="NmisDeptDict">
        update nmis.nmis_dept_dict
        <trim prefix="SET" suffixOverrides=",">
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="deptName != null">dept_name = #{deptName},</if>
            <if test="approvedBedNum != null">approved_bed_num = #{approvedBedNum},</if>
            <if test="actualBedNum != null">actual_bed_num = #{actualBedNum},</if>
            <if test="nurseNum != null">nurse_num = #{nurseNum},</if>
            <if test="inputCode != null">input_code = #{inputCode},</if>
            <if test="serialNo != null">serial_no = #{serialNo},</if>
            <if test="revision != null">revision = #{revision},</if>
            <if test="createId != null">create_id = #{createId},</if>
            <if test="creator != null">creator = #{creator},</if>
            <if test="createDate != null">create_date = #{createDate},</if>
            <if test="modifyId != null">modify_id = #{modifyId},</if>
            <if test="modifier != null">modifier = #{modifier},</if>
            modify_date = sysdate,
            <if test="unitCode != null">unit_code = #{unitCode},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteNmisDeptDictById" parameterType="Long">
        delete from nmis.nmis_dept_dict where id = #{id}
    </delete>

    <delete id="deleteNmisDeptDictByIds" parameterType="String">
        delete from nmis.nmis_dept_dict where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>